.grid section {
    padding-top: 20px;
}

.example {
    display: none;

    border: 1px solid #ddd;

    padding: 5px;

    pre {
        margin: 0;
    }
}

.visible {
    display: block;
    overflow: scroll;
}

.expose {
    margin-top: 10px;
}
