$primary-color: #ec7235;
$secondary-color: #36b0ec;
$tetradic-color: #B0EC36;
$shadow-color: #ddd;

body {
    margin: 0;
}

.top {
    border-bottom: 1px solid $shadow-color;
    box-shadow: 0px 1px 2px 0px $shadow-color;
}

.grid {
    max-width: 950px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: flow;
    align-items: center;

    .header-main {
        flex-grow: 1;
    }
}

.header-main ul {
    display: flex;
    justify-content: right;

    li {
        margin-left: 15px;
        list-style: none;

        a {
            color: black;
            text-decoration: none;
            font-size: 17px;
        }

        a:hover {
            color: $primary-color;
        }
    }
}

.logo {
    margin: 5px 0;

    display: flex;
    align-items: center;

    img {
        margin-right: 5px;
    }

    span {
        font-size: 30px;
    }
}

.bottom {
    border-top: 1px solid $shadow-color;
    display: flex;

    margin: 10px 0;
}

.footer {
    margin-top: 10px;
    font-size: 13px;

    justify-content: center;

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}

.title {
    font-size: 30px;
}

.example {
    display: none;

    border: 1px solid #ddd;
    border-radius: 5px;

    margin-right: 10px;
    min-height: 200px;
    padding: 5px;

}

.visible {
    display: block;
}

.news_grid {
    grid-template-columns: 3fr 1fr;
    display: grid;
    grid-gap: 15px;
}

.news_grid .sitelinks a {
    display: block;
    text-decoration: none;
    color: $primary-color;
}

.news_grid .sitelinks a:hover {
    text-decoration: underline;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: $secondary-color;
  color: white;
}
