$primary-color: #ec7235;
$secondary-color: #36b0ec;
$tetradic-color: #B0EC36;
$shadow-color: #ddd;

body {
    margin: 0;
}

.top {
    border-bottom: 1px solid $shadow-color;
    box-shadow: 0px 1px 2px 0px $shadow-color;
}

.center {
    max-width: 950px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: flow;
    align-items: center;

    .header-main {
        flex-grow: 1;
    }
}

.header-main ul {
    display: flex;
    justify-content: center;

    li {
        margin-left: 15px;
        list-style: none;

        a {
            color: black;
            text-decoration: none;
            font-size: 17px;
        }

        a:hover {
            color: $primary-color;
        }
    }
}

.logo {
    margin: 5px 0;

    display: flex;
    align-items: center;

    img {
        margin-right: 5px;
    }

    span {
        font-size: 30px;
        font-family: Dejavu Sans;
    }
}

.bottom {
    border-top: 1px solid $shadow-color;
    display: flex;
}

.footer {
    margin-top: 10px;
    font-size: 13px;

    justify-content: center;

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}

.title {
    font-size: 30px;
}

.example {
    display: none;

    border: 1px solid #ddd;
    border-radius: 5px;

    margin-right: 10px;
    min-height: 200px;
    padding: 5px;

}
.visible {
    display: block;
}
