[package]
name = "linfa"
version = "0.1.1"
authors = ["Luca Palmieri <rust@lpalmieri.com>"]
description = "A Machine Learning framework for Rust"
edition = "2018"
license = "MIT/Apache-2.0"

repository = "https://github.com/LukeMathWalker/linfa"
readme = "README.md"

keywords = ["machine-learning", "linfa", "ai", "ml"]
categories = ["algorithms", "mathematics", "science"]

[dependencies]
num-traits = "0.1.32"
ndarray = { version = "0.13", default-features = false }

[dev-dependencies]
rand = "0.7"
ndarray-rand = "0.11"
approx = "0.3"

[workspace]
members = [
    "linfa-clustering",
    "linfa-reduction",
    "linfa-kernel",
    "linfa-linear",
    "linfa-logistic",
    "linfa-trees",
    "linfa-svm",
    "linfa-hierarchical",
    "linfa-ensemble",
    "linfa-predictor",
]

[profile.release]
opt-level = 3
