[package]
name = "linfa-nn"
version = "0.7.0"
authors = ["YuhanLiin <yuhanliin+github@protonmail.com>"]
edition = "2018"
description = "A collection of nearest neighbour algorithms"
license = "MIT OR Apache-2.0"

repository = "https://github.com/rust-ml/linfa/"
readme = "README.md"

keywords = ["nearest-neighbour", "machine-learning", "linfa"]
categories = ["algorithms", "mathematics", "science"]

[features]
default = []
serde = ["serde_crate", "ndarray/serde"]

[dependencies.serde_crate]
package = "serde"
optional = true
version = "1.0"
default-features = false
features = ["std", "derive"]

[dependencies]
ndarray = { version = "0.15", features = ["approx"]}
ndarray-stats = "0.5"
num-traits = "0.2.0"
noisy_float = "0.2.0"
order-stat = "0.1.3"
thiserror = "1.0"

kdtree = "0.6.0"

linfa = { version = "0.7.1", path = "../.." }

[dev-dependencies]
approx = "0.4"
criterion = "0.4.0"
rand_xoshiro = "0.6"
ndarray-rand = "0.14"
linfa = { version = "0.7.1", path = "../..", features = ["benchmarks"] }

[[bench]]
name = "nn"
harness = false
