[package]
name = "linfa-tsne"
version = "0.4.0"
authors = ["Lorenz Schmidt <lorenz.schmidt@mailbox.org>"]
edition = "2018"

description = "Barnes-Hut t-distributed stochastic neighbor embedding"
license = "MIT/Apache-2.0"

repository = "https://github.com/rust-ml/linfa"
readme = "README.md"

keywords = ["tsne", "visualization", "clustering", "machine-learning", "linfa"]
categories = ["algorithms", "mathematics", "science"]

[dependencies]
thiserror = "1.0.25"
ndarray = { version = "0.14", default-features = false }
ndarray-rand = "0.13"
bhtsne = "0.4.0"

linfa = { version = "0.4.0", path = "../.." }

[dev-dependencies]
rand = "0.8"
approx = "0.4"
mnist = { version = "0.4", features = ["download"] }

linfa-datasets = { version = "0.4.0", path = "../../datasets", features = ["iris"] }
linfa-reduction = { version = "0.4.0", path = "../linfa-reduction" }
