[package]
name = "linfa-reduction"
version = "0.8.0"
authors = [
    "Lorenz Schmidt <bytesnake@mailbox.org>",
    "Gabriel Bathie <gbathie.dev@gmail.com>",
]
description = "A collection of dimensionality reduction techniques"
edition = "2018"
license = "MIT OR Apache-2.0"

repository = "https://github.com/rust-ml/linfa"
readme = "README.md"

keywords = [
    "reduction",
    "machine-learning",
    "linfa",
    "spectral",
    "unsupervised",
]
categories = ["algorithms", "mathematics", "science"]

[features]
default = []
blas = ["ndarray-linalg", "linfa/ndarray-linalg"]
serde = ["serde_crate", "ndarray/serde"]

[dependencies.serde_crate]
package = "serde"
optional = true
version = "1.0"
default-features = false
features = ["std", "derive"]

[dependencies]
ndarray = { version = "0.16", features = ["approx"] }
linfa-linalg = { version = "0.2" }
ndarray-linalg = { version = "0.17", optional = true }
ndarray-rand = "0.15"
num-traits = "0.2"
thiserror = "2.0"
rand = { version = "0.8", features = ["small_rng"] }

linfa = { version = "0.8.1", path = "../.." }
linfa-kernel = { version = "0.8.0", path = "../linfa-kernel" }
sprs = { version = "=0.11.2" }
rand_xoshiro = "0.6.0"

[dev-dependencies]
ndarray-npy = { version = "0.9", default-features = false }
linfa-datasets = { version = "0.8.0", path = "../../datasets", features = [
    "iris",
    "generate",
] }
approx = "0.5"
mnist = { version = "0.6.0", features = ["download"] }
linfa-trees = { version = "0.8.0", path = "../linfa-trees" }
