[package]
name = "linfa-reduction"
version = "0.5.0"
authors = ["Lorenz Schmidt <bytesnake@mailbox.org>"]
description = "A collection of dimensionality reduction techniques"
edition = "2018"
license = "MIT/Apache-2.0"

repository = "https://github.com/rust-ml/linfa"
readme = "README.md"

keywords = ["reduction", "machine-learning", "linfa", "spectral", "unsupervised"]
categories = ["algorithms", "mathematics", "science"]

[features]
default = []
blas = ["ndarray-linalg", "linfa/ndarray-linalg"]
serde = ["serde_crate", "ndarray/serde"]

[dependencies.serde_crate]
package = "serde"
optional = true
version = "1.0"
default-features = false
features = ["std", "derive"]

[dependencies]
ndarray = { version = "0.15", features = ["approx"] }
ndarray-linalg-rs = { git = "https://github.com/rust-ml/ndarray-linalg-rs.git" }
ndarray-linalg = { version = "0.14", optional = true }
ndarray-rand = "0.14"
num-traits = "0.2"
thiserror = "1.0"

linfa = { version = "0.5.0", path = "../.." }
linfa-kernel = { version = "0.5.0", path = "../linfa-kernel" }

[dev-dependencies]
rand = { version = "0.8", features = ["small_rng"] }
ndarray-npy = { version = "0.8", default-features = false }
linfa-datasets = { version = "0.5.0", path = "../../datasets", features = ["iris", "generate"] }
approx = { version = "0.4" }
