[package]
name = "linfa-reduction"
version = "0.3.1"
authors = ["Lorenz Schmidt <bytesnake@mailbox.org>"]
description = "A collection of dimensionality reduction techniques"
edition = "2018"
license = "MIT/Apache-2.0"

repository = "https://github.com/rust-ml/linfa"
readme = "README.md"

keywords = ["reduction", "machine-learning", "linfa", "spectral", "unsupervised"]
categories = ["algorithms", "mathematics", "science"]

[features]
default = []

serde = ["serde_crate", "ndarray/serde"]

[dependencies.serde_crate]
package = "serde"
optional = true
version = "1.0"
default-features = false
features = ["std", "derive"]

[dependencies]
ndarray = { version = "0.14", default-features = false, features = ["approx"] }
ndarray-linalg = "0.13"
ndarray-rand = "0.13"
num-traits = "0.2"

linfa = { version = "0.3.1", path = "../.." }
linfa-kernel = { version = "0.3.1", path = "../linfa-kernel" }

[dev-dependencies]
rand = { version = "0.8", features = ["small_rng"] }
ndarray-npy = { version = "0.7", default-features = false }
linfa-datasets = { version = "0.3.1", path = "../../datasets", features = ["iris"] }
approx = { version = "0.4", default-features = false, features = ["std"] }
