on: [push, pull_request]

name: Run iai Benches

jobs:
  testing:
    name: benching
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@master

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Update ndarray to 0.16.1 (temporary workaround to avoid pulling ndarray 0.17.1)
        run: cargo update -p ndarray:0.17.1 --precise 0.16.1

      - name: Run cargo bench iai
        run: cargo bench iai --all
