on: [push, pull_request]

name: Check For Build Errors

jobs:
  check:
    name: check
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    strategy:
      matrix:
        toolchain:
          - 1.42.0
          - nightly-2021-03-24
          - beta
          - stable

    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.toolchain }}
          override: true

      - name: Run cargo check (no features)
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --workspace

      - name: Run cargo check (with serde)
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --workspace --features linfa-clustering/serde linfa-ica/serde linfa-kernel/serde linfa-reduction/serde linfa-svm/serde linfa-elasticnet/serde linfa-pls/serde linfa-trees/serde
