on: [push, pull_request]

name: Check For Build Errors

jobs:
  check:
    name: check-${{ matrix.toolchain }}-${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        toolchain:
          - 1.59.0
          - stable
          - nightly
        os:
          - ubuntu-latest
          - windows-latest

    continue-on-error: ${{ matrix.toolchain == 'nightly' }}

    steps:
      - name: Checkout sources
        uses: actions/checkout@master

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.toolchain }}

      - name: Log active toolchain
        run: rustup show

      # Check if linfa compiles by itself without uniting dependency features with other crates
      - name: Run cargo check on linfa
        run: cargo check

      - name: Run cargo check (no features)
        run: cargo check --workspace --all-targets

      - name: Run cargo check (with serde)
        run: cargo check --workspace --all-targets --features "linfa-clustering/serde linfa-ica/serde linfa-kernel/serde linfa-reduction/serde linfa-svm/serde linfa-elasticnet/serde linfa-pls/serde linfa-trees/serde linfa-nn/serde linfa-linear/serde linfa-preprocessing/serde linfa-bayes/serde"
