on: [push, pull_request]

name: Run Tests

jobs:
  testing:
    name: testing-${{ matrix.toolchain }}-${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        toolchain:
          - 1.57.0
          - stable
        os:
          - ubuntu-18.04
          - windows-2019

    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@${{ matrix.toolchain }}

      - name: Run cargo test
        run: cargo test --release --workspace

  testing-blas:
    name: testing-with-BLAS-${{ matrix.toolchain }}-${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        toolchain:
          - 1.57.0
          - stable
        os:
          - ubuntu-18.04
          - windows-2019

    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install toolchain
        run: dtolnay/rust-toolchain@${{ matrix.toolchain }}

      - name: Run cargo test with BLAS enabled
        run: cargo test --release --workspace --features intel-mkl-static,linfa-clustering/blas,linfa-ica/blas,linfa-reduction/blas,linfa-linear/blas,linfa-preprocessing/blas,linfa-pls/blas,linfa-elasticnet/blas
