on: [push, pull_request]

name: Run Tests

jobs:
  testing:
    name: testing
    runs-on: ubuntu-18.04
    if: github.event.pull_request.draft == false
    container:
      image: rustmath/mkl-rust:1.43.0
      options: --security-opt seccomp=unconfined
    strategy:
      fail-fast: false
      matrix:
        toolchain:
          - 1.42.0
          - nightly
          - stable
        experimental: [false]
        include:
          toolchain: nightly
          experimental: true
    continue-on-error: ${{ matrix.experimental }}

    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.toolchain }}
          override: true

      - name: Run cargo test in release mode
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all --release --features intel-mkl-system
