# build and deploy on master push, otherwise just try to build the page
on:
  push:
    #branches:
    #- master 
  pull_request:

name: Build website with Zola and publish to GH pages

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.ref != 'refs/heads/master' && github.repository == 'rust-ml/linfa'
    steps:
      - name: 'Checkout'
        uses: actions/checkout@master
      - name: 'Build only' 
        uses: shalzz/zola-deploy-action@master
        env:
          BUILD_DIR: docs/website/
          TOKEN: ${{ secrets.TOKEN }}
          BUILD_ONLY: true

  build_and_deploy:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master' || github.repository != 'rust-ml/linfa'
    steps:
      - name: 'Checkout'
        uses: actions/checkout@master

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
          components: rustfmt, rust-src

      - name: Build Documentation
        uses: actions-rs/cargo@v1
        with:
          command: doc
          args: --all --no-deps

      - name: Copy Rust Documentation to Zola
        run: cp "target/docs/*" "docs/website/static/rustdocs/"

      - name: 'Build and deploy'
        uses: shalzz/zola-deploy-action@master
        env:
          PAGES_BRANCH: gh-pages
          BUILD_DIR: docs/website/
          TOKEN: ${{ secrets.TOKEN }}
